.bg{
/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */
position: fixed;
top: 0;
left: 0;
}
form{
  z-index: 1;
  position: fixed;
  margin-top: 380px;
  margin-left: 10%;
  margin-bottom: 100px;
}

.inputan{
  position: absolute;
  width: 200px;
  margin-left: -200px;
  border: none;
  height: 20px;
}
.foot{
  width: auto;
  position: absolute;
}
.pass{
  width: 120px;
  position: absolute;
  border: none;
  margin-left: -205px;
  height: auto;
  margin-top: 9px;
}
.button{
  width: 170px;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
}
.dua{
  width: 70px;
}
svg{
  color: white;
width: 20px;
height: auto;}
.button:hover{
  background: #b8d6ee;
}

@media screen and (min-width: 375px){
  form{
    margin-top: 430px;
  }
}

@media screen and (min-width: 425px){
  form{
    margin-top: 460px;
  }
}
